$primary-blue: #2680eb;
$border-gray: #e0e0e0;
$primary-green: #34B057;
$hover-green: rgba(52, 176, 87, .25);
$main-text-color: #212121;
$primary-hover-green: #02B936;
$primary-background: #eafbf2;
$icon-only-button-no-border-hover: #e0e0e0;
$text-primary-color: #212121;